openapi: 3.1.0
info:
  title: FutureVote GPT API (Write - Drafts)
  version: 0.1.0
  description: |
    Write-Endpunkt fuer Custom GPT (Actions) um Drafts/Private Umfragen anzulegen.
    Authentifizierung erfolgt via OAuth Account-Linking.
servers:
  - url: https://gpt-write.future-vote.de
paths:
  /api/drafts:
    post:
      operationId: createDraft
      summary: Draft oder private Umfrage erstellen
      security:
        - oauth2: [drafts:write]
      description: |
        Erstellt:
        - bei visibility=public einen Draft (landet im Review),
        - bei visibility=link_only direkt eine private Frage (per Link abstimmbar).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                description: { type: string, nullable: true }
                category: { type: string }
                region: { type: string, nullable: true }
                imageUrl: { type: string, nullable: true }
                imageCredit: { type: string, nullable: true }
                timeLeftHours: { type: number, nullable: true, description: "Standard: 72" }
                closesAt: { type: string, nullable: true, description: "Optionales Enddatum (ISO)" }
                visibility:
                  type: string
                  enum: [public, link_only]
                answerMode:
                  type: string
                  enum: [binary, options]
                isResolvable: { type: boolean, nullable: true, description: "true=Prognose, false=Meinungs-Umfrage" }
                options:
                  type: array
                  nullable: true
                  items: { type: string }
                resolutionCriteria: { type: string, nullable: true }
                resolutionSource: { type: string, nullable: true }
                resolutionDeadline: { type: string, nullable: true, description: "ISO Datum/Uhrzeit" }
              required: [title, category]
      responses:
        "201":
          description: Draft oder Question erstellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    description: "draft|question"
                  id:
                    type: string
                    description: "ID des erstellten Drafts oder der Question"
                  message:
                    type: string
                    nullable: true
                additionalProperties: true
        "400":
          description: Validierungsfehler
        "401":
          description: Nicht eingeloggt / OAuth fehlt
        "503":
          description: OAuth/DB nicht vorbereitet

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-write.future-vote.de/api/oauth/authorize
          tokenUrl: https://gpt-write.future-vote.de/api/oauth/token
          scopes:
            "drafts:write": Drafts erstellen
